<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ArduinoUploader" version="3.2.0" targetFramework="net46" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net46" />
  <package id="DotNetZip" version="1.13.8" targetFramework="net46" />
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net46" />
  <package id="Gu.Wpf.Geometry" version="2.2.3.0" targetFramework="net46" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net46" />
  <package id="IntelHexFormatReader" version="2.2.1" targetFramework="net46" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.7" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.7" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.7" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.7" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.7" targetFramework="net46" developmentDependency="true" />
  <package id="SerialPortStream" version="2.1.2" targetFramework="net46" />
</packages>